/* Blocchettoni iniziali */
/* Header */
header {
    /* height: 300px; */
    /* border: 2px dashed black; */
}
.upper-nav {
    /* border: 2px dashed violet; */
}
.lower-header {
    /* height: 250px; */
    /* border: 2px dashed blue; */
}

.my-container {
    max-width: 350px;
    margin: 0 auto;
}


/* img size */
#pics img {
    width: 100%;
    height: auto;
}
#avatar {
    width: 200px;
    height: auto;
    display: block;
}


/* Custom color */
.bg-dark-cst {
    background-color: rgb(32, 38, 33);
}